{
    "presets": [
        "env",
        "react"
    ],
    "env": {
        "production": {
            "plugins": []
        },
        "development": {
            "presets": [
            ]
        }
    }
}