/*
$height: 40px;
$spacing: 10px;
$select-color: #2875c7;
$font-size: 14px;
$border-colour: #ddd;

@mixin border-box {
 box-sizing: border-box;
  -moz-box-sizing: border-box;
}

@mixin vertical-centre($h) {
  height: $h;
  line-height: $h !important;
  display: inline-block;
  vertical-align: middle;
}

@mixin transform($s) {
  transform: $s;
  -ms-transform: $s;
  -webkit-transform: $s;
  -o-transform: $s;
  -moz-transform: $s;
}

@mixin transition($values...) {
  -webkit-transition: $values;
  -moz-transition: $values;
  -ms-transition: $values;
  -o-transition: $values;
}

div.dropdown-container {
  &.show > div.dropdown-container {
    @include transform(scale(1,1));
  }

  $icon-width: 14px;

  > div.dropdown-display {
    float: left;
    width: 100%;
    background: white;
    height: $height;
    cursor: pointer;
    border: solid 1px $border-colour;
    //@include border-box;

    >* {
      float: left;
      height: 100%;
      @include vertical-centre($height);
    }

    >span {
      font-size: $font-size;
      width: 100%;
      position: relative;
      @include border-box;
      padding-right: $icon-width+$spacing*2;
      padding-left: $spacing;
    }

    >i {
      position: relative;
      width: $icon-width;
      margin-left: ($spacing+$icon-width)*-1;
      font-size: 1.125em;
      font-weight: bold;
      padding-right: $spacing;
      text-align: right;
    }
  }

  >div.dropdown-list {
    float: left;
    width: 100%;
    position: relative;
    @include transform(scale(1,0));
    @include transition(-webkit-transform ease 250ms);
    @include transition(transform ease 250ms);
  }

  >div {
    position: absolute;
    width: 100%;
    z-index: 2;
    cursor: pointer;
    background: white;

    >div {
      float: left;
      width: 100%;
      padding: 0 $spacing;
      font-size: $font-size;
      @include border-box;
      border: solid 1px $border-colour;
      border-top: none;

      $icon-width: 20px;
      &:hover {
        background: #F0F0F0;
      }

      &.selected {
        background: $select-color;
        color: white;
      }

      >* {
        @include vertical-centre($height);
      }

      >span {
        float: left;
        width: 100%;
      }
    }

  }
}
*/

@mixin transform($s) {
  transform: $s;
  -ms-transform: $s;
  -webkit-transform: $s;
  -o-transform: $s;
  -moz-transform: $s;
}

@mixin transition($values...) {
  -webkit-transition: $values;
  -moz-transition: $values;
  -ms-transition: $values;
  -o-transition: $values;
}

.dropdown-container {
  position: relative;
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.dropdown-display {
  padding: 10px;
  cursor: pointer;
  width: 100%;
  border: 3px solid rgb(170, 170, 170);
  background: white;
  z-index: 3;
}

.dropdown-display.clicked {
}

.dropdown-list {
  visibility: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  @include transition(all 250ms ease-in-out);
  height: 0%;
  @include transform(scaleY(0));
}

.dropdown-list.show {
  visibility: visible;
  @include transform(scaleY(1));
}

.dropdown-list > div {
  padding: 10px;
  border-top: 0px !important;
  border-bottom: 0px !important;
  //  border: 1px solid black;
  cursor: pointer;
  background-color: #f1f1f1;
}


.dropdown-list > div:hover {
  // transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  background-color: rgb(192, 192, 192);

}