@import "components/pure/styles/variables";

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: $bodyAccentColour;
    font-size: $bodyFontSize;
    font-family: $baseFontFamily;
}

#app {
    height: 100%;
}

#app > div {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
}

