@import url(https://fonts.googleapis.com/css?family=Nunito:400,700);

$baseFontFamily: 'Nunito', sans-serif;
$bodyFontSize: 1.0em;
$titleFontSize: 1.6em;
$subTitleFontSize: 1.2em;
$smallFontSize: 0.8em;
$boldFontWeight: 700;
$thinFontWeight: 300;

$headerHeight: 100px;

$headerAccentColour: rgb(0, 162, 0);
$headerTextColour: rgb(255, 255, 255);

$panelAccentColour: #ffffff;
$panelTextColour: #000000;

$bodyAccentColour: #f0f0f0;//DFDFDF;
$bodyTextColour: #000000;

$footerAccentColour: #333333;
$footerTextColour: rgb(255, 255, 255);
