@import "variables";

#data-container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 2fr 5fr;
  grid-column-gap: 30px;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

#data-date {
  display: flex;
  justify-content: right;
  align-items: center;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  margin-right: 20px;
}

#data-date > p {
  float: right;
}

#data-title > h2 {
  margin-left: 15px;
  font-size: $titleFontSize;
  font-weight: $thinFontWeight;
}

#data-title {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

#data-list {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

#data-list > button {
  border: 0px;
  background-color: $panelAccentColour;
  width: 100%;
  padding: 15px 15px 35px 15px;
  margin: 0px 5px 20px 15px;
  font-size: $subTitleFontSize;
  text-transform: capitalize;
  font-weight: $thinFontWeight;
  text-align: left;
}

#data-content {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  background: $panelAccentColour;
  color: $panelTextColour;
  margin: 0px 20px 90px 0px;
}

#data-panel {
  width: 100%;
  padding: 10px;
}

#data-panel > h1 {
  margin-top: 0px;
}