@import "variables";

.basic {
    background-color: #f0f0f0;
}

#home-container {
    width: 100%;
    display: grid;
    height: 100vh;
    justify-content: center;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #f0f0f0;
    grid-row-start: 2;
    grid-row-end: 3;
}

#home-content {
    align-self: center;
    grid-row: 1;
    grid-column: 2;
    align-content: center;
    text-align: center;
    padding-bottom: 120px;
}

.home-content__header {
  display: block;
  position: fixed;
  width: 100%;
  margin: 0 auto;
}

.home__title {
  font-family: Avenir;
  font-weight: 500;
  color: #000;
  float: left;
}

.home__date {
  font-family: Avenir;
  font-weight: 200;
  color: #000;
  float: right;
}

#goals-content__header {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-top: 70px;
}

.goals__title {
  font-family: Avenir;
  font-weight: 500;
  color: #000;
  float: left;
}
