@import "variables";

.basic {
  background-color: #f0f0f0;
}

#home-container {
  display: grid;
  //  height: 100vh;
  justify-content: center;
  grid-row-start: 2;
  grid-row-end: 3;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 250px;
}

#home-content {
}

#home-content__header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  max-width: 1170px;
  width: 100%;
  justify-self: center;
}

.home__title {
  font-weight: 500;
  color: #000;
  justify-self: start;
}

.home__date {
  font-family: Avenir;
  font-weight: 200;
  color: #000;
  grid-column: 3/4;
  justify-self: end;
}

#goals-content__header {
  margin: 0 auto;
  margin-top: 70px;
}

.goals__title {
  font-family: Avenir;
  font-weight: 500;
  color: #000;
  float: left;
}

.dash__container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-top: 50px;
}

.dash__component {
  background-color: #fff;
  height: 250px;
  max-height: 300px;
  width: 250px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.dash__container-goals {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  margin-top: 20px;
}

.dash__component {
  background-color: #fff;
  height: 250px;
  max-height: 300px;
  width: 250px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  padding-bottom: 30px;
}
