$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

#login-parent-container {
    display: table;
    height: 100%;
    margin: 0 auto;
}

#login-container {
    margin-top: 10em;
    /* display: table-cell; */
    vertical-align: middle;
    color: white;
    background-color: white;
}

#login-form {
    text-align: center;
    font-family:  $font-stack;
    box-shadow: 1px 1px 3px #888888;
    width: 300px;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
}

#login-form > h2 {
    font: 100% $font-stack;
}


#login-form > input {
    padding: 10px;
    margin: 10px;
    width: 200px;
}

#login-form > p {
    font-size: 0.8em;
    color: #808080;
}

#login-form > input.login-inp {
    border:  none;
    background-color: #dddddd;
    color: #808080;
}

#login-submit {
     background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;   
    margin-top: 20px;
}


#login-error {
    color: #D8000C;
    background-color: #FFD2D2;
    margin: 10px 0px;
    padding: 12px;
    border-radius: 3px;
}

#text {
    font-family:  $font-stack;
    margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}
