$font-stack:    Helvetica, sans-serif;

#navbar-root {
    font-family: $font-stack;
    background-color:  #00a200;
    overflow: hidden;
    box-shadow: 1px 1px 3px #007e00;
    margin-bottom: 2em;
}


#navbar-root a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navbar-root a:hover {
    background-color: #007e00;
    color: white;
}